<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.outerringroad.redbull.dao.UserMapper">

    <select id="getUser" resultType="xyz.outerringroad.redbull.bean.po.UserPO">
        SELECT username, password
        FROM user t
        WHERE t.username = #{username}
    </select>

    <insert id="createUser">
        INSERT INTO user(username, password)
        VALUES (#{username}, #{password})
    </insert>

    <delete id="deleteUser">
        DELETE
        FROM user t
        WHERE t.username = #{username}
    </delete>

</mapper>